@import "tailwindcss";

@theme {
  --color-brand-deep: #133730;
  --color-brand-accent: #0a7c47;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
